<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-header justify-content-center">
          <h5 class="card-title">!!Bienvenido a Auto-perfecto!!</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="signInForm">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="email@mail.com" formControlName="email" />
              <div
                *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].touched || signInForm.controls['email'].dirty">
                <small *ngIf="signInForm.get('email')!.hasError('required')" class="text-danger">Email es
                  requerido</small>
                <small *ngIf="signInForm.get('email')!.hasError('pattern')" class="text-danger">Ingrese un email</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="***************"
                formControlName="password" />
              <div
                *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched || signInForm.controls['password'].dirty">
                <small *ngIf="signInForm.get('password')!.hasError('required')" class="text-danger">Contraseña es
                  requerido</small>
                <small *ngIf="signInForm.get('password')!.hasError('pattern')" class="text-danger">Ingrese contraseña
                  valida</small>
              </div>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit" (click)="signIn(signInForm.value)"
                id="btn-login">Iniciar Sesion</button>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            <a href="#" class="text-decoration-none">Recuperar Contraseña</a>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="text-decoration-none">Registrarse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
