<!-- Header -->
<app-header></app-header>
<!-- Content -->
<div class="container">
  <div class="denied__wrapper">
    <h1 class="text-white">404</h1>
    <h3 class="text-white">¿Perdido en el espacio de la aplicación AutoPerfecto? Hmm, parece que esta página no existe.</h3>
    <img id="astronaut" src="./../../../assets/images/not-found/astronaut.svg" />
    <img id="planet" src="../../../assets/images/not-found/planet.svg" />
    <div class="d-flex justify-content-center">
      <a href="#"><button class="btn btn-primary">Ir al Home</button></a>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
