nav {
  display: flex;
  padding: 20px 0;
  height: 6vh;
}

nav a {
  margin-right: 10px;
  color: white;
}

.img_logo {
  max-width: 60px;
}

.img_avatar {
  max-width: 30px;
}

.sesion_margin{
  margin-right: 40px;
}

.logo_margin{
  margin-left: 10px;
}
