<!-- Header -->
<app-header></app-header>
<!-- Content -->
<div class="container" id="container">
  <h1 class="text-center">Listado De Automoviles</h1>
  <div class="services-container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Automoviles</h3>
        <div id="table-container" class="rounded-container">
          <app-list-table></app-list-table>
        </div>
      </div>
      <div class="col-md-8">
        <h3 class="text-center" >Información Detallada</h3>
        <div id="detail-container" class="rounded-container">
          <app-detail-card></app-detail-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
